.footer {
  color: $color-gray-light-1;
  background: $color-gray-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__logo {
    width: 10rem;
  }

  &__nav {
    border-top: 1px solid $color-gray-dark-1;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port){
      display: block;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-gray-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      background: $color-gray-dark-2;
      transition: all 0.15s ease-out;
    }

    &:hover,
    &:active {
      transition: all 0.15s ease-in;
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.4);
      transform: rotate(5deg) scale(1.04);
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-dark-1;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: initial;
    }
  }
}
