$card-animation-duration: 0.6s;

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;

  //Card animation
  &__side {
    height: 50rem;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.2);
    transition: all $card-animation-duration ease-out;

    &--front {
      z-index: 10;
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: $orangeGradient;
      }

      &-2 {
        background-image: $greenGradient;
      }

      &-3 {
        background-image: $blueGradient;
      }
    }
  }

  &:hover &__side--front {
    transition: all $card-animation-duration ease-in;
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transition: all $card-animation-duration ease-in;
    transform: rotateY(0);
  }

  //Front side styling
  &__picture {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: $orangeGradient, url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: $greenGradient, url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: $blueGradient, url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 11rem;
    right: 2rem;
    text-align: right;
    width: 60%;
  }

  &__heading-span {
    box-decoration-break: clone;
    padding: 1rem;

    &--1 {
      background-image: $orangeGradient;
    }

    &--2 {
      background-image: $greenGradient;
    }

    &--3 {
      background-image: $blueGradient;
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);

        &:last-of-type {
          border: none;
        }
      }
    }
  }

  //Back side styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: white;
    margin-bottom: 6rem;
  }

  &__price-only {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 5rem;
    font-weight: 300;
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0.8rem 2rem rgba($color: #000000, $alpha: 0.15);

    &__side {
      position: relative;
      height: auto;
      box-shadow: none;

      &--front {
        padding-bottom: 4rem;
      }

      &--back {
        transform: rotateY(0);
        padding: 5rem 2rem;
        z-index: 30;
        margin-top: -4rem;
        clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__details {
      padding: 1rem;
    }

    &__cta {
      position: relative;
      left: unset;
      top: unset;
      transform: none;
      width: 100%;
    }

    &__price-box {
      margin-bottom: 2rem;
    }

    &:hover &__side--front {
      transform: none;
    }
  }
}
